#spaceTop {
  height: 100px;
}
#introTitle h2 {
  text-align: center;
  font-size: 28px;
  color: #e77b00;
  font-family: "Cardo", sans-serif;
}
#scrollingDivs {
  width: 200%;
  display: flex;
  flex-direction: row;
  scroll-snap-type: x proximity;
  overflow-x: hidden;
  scroll-padding: 0px;
}
#scrollingDivs div {
  scroll-snap-align: center;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    /* #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000 */
      #e85100,
    #e75100,
    #e77b00,
    #e7a200,
    #e7a600,
    #c4e700,
    #e86800,
    #e78700,
    #e77000e8
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 100px;
}

.glow-on-hover:active {
  color: #1d1d16;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d1d16;
  left: 0;
  top: 0;
  border-radius: 100px;
}
#introTitle h2 {
  width: 100%;
}
#introTitle {
  width: 100%;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.glow-on-hover:before {
  opacity: 1;
}
.glow-on-hover {
  /* width: 250%;
  height: 80%; */
  border: none;
  outline: none;
  color: #fff;
  background: #1d1d16;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 100px;
}

.glow-on-hover:checked {
  content: "";
  background: linear-gradient(
    45deg,
    /* #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000 */
      #e85100,
    #e75100,
    #e77b00,
    #e7a200,
    #e7a600,
    #c4e700,
    #e86800,
    #e78700,
    #e77000e8
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 100px;
}

.glow-on-hover:active {
  color: #1d1d16;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d1d16;
  left: 0;
  top: 0;
  border-radius: 100px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.glow-select {
  width: 40%;
  height: 50px;
  border: none;
  outline: none;
  background: #1d1d16;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-select:focus {
  border: none;
  outline: none;
}
/* #categories div h1 {
  margin-top: 0px;
  margin-bottom: 0px;
} */
body {
  overflow-x: clip;
  overflow-y: clip;
}
#categories {
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
}
#categories::-webkit-scrollbar {
  display: none;
}
#categories div div {
  margin-top: 20px;
  margin-bottom: 30px;
  scroll-snap-align: center;
}
#categories div {
  margin-right: 120%;
}
#categories div:nth-child(1) {
  margin-left: 30%;
  margin-right: 120%;
}
#introText {
  margin-top: 0px;
  padding-top: 4px;
  text-align: center;
  font-size: 400%;
  color: #e77b00;
  text-shadow: 1px 1px 2px red, 0 0 1em rgba(255, 255, 0, 0.299),
    0 0 0.2em rgba(255, 255, 0, 0.258);
}
#innerLogo {
  margin-top: -40px;
}
@media only screen and (max-width: 600px) {
  .glow-on-hover:before {
    border-radius: 50px;
  }
  .glow-on-hover:after {
    border-radius: 50px;
  }
  .glow-on-hover {
    border-radius: 50px;
  }
}
#arrow_left_img,
#arrow_right_img {
  content: url("../../images/arrow-right\ \(3\).png");
}
#arrow_left_img:hover,
#arrow_right_img:hover {
  content: url("../../images/arrow-right\ \(2\).png");
}

#arrow_left {
  transform: rotate(180deg);
  position: fixed;
  z-index: 105;
  top: 200px;
}
#arrow_right {
  position: fixed;
  z-index: 105;
  right: 0;
  top: 200px;
}
#pageNumber {
  display: flex;
  justify-content: center;
}
#pageNumberText {
  font-size: 25px;
}
#secondSlide h1,
#thirdSlide h1,
#fourthSlide h1,
#fifthSlide h1,
#sixthSlide h1,
#eighthSlide h1 {
  font-size: 200%;
  padding-top: 20px;
  margin-bottom: 10%;
  margin-left: 5%;
  color: #72593b;
  font-family: "Cardo", sans-serif;
  margin-right: 5%;
}
#thanksList li {
  font-size: 100%;
  padding-top: -10px;
  margin-left: 5%;
  color: #72593b;
  font-family: "Cardo", sans-serif;
  margin-right: 5%;
}
a {
  color: #e8510083;
}
#eventList li {
  font-size: 150%;
  padding-top: -10px;
  margin-left: 5%;
  color: #72593b;
  font-family: "Cardo", sans-serif;
  margin-right: 5%;
}
#scoringTest {
  text-align: center;
}
#seventhSlide h1 {
  font-size: 200%;
  padding-top: 20px;
  margin-left: 5%;
  color: #72593b;
  font-family: "Cardo", sans-serif;
  margin-right: 5%;
  text-align: center;
}
#promoVideo {
  width: 40%;
  height: 70%;
  margin-left: 30%;
}
