#mainImage{
  content: url("images/!!STOP\ REAL\ COMBINE\ SIGN.png");
}
#mainImage:hover{
  cursor: grab;
  content: url("images/redSignLogo.png");
}
#registerImg{
  transition: all 2s;
  transform: translateY(-100px);
  content: url("images/LeaderBoard\ \(6\).png");
}
#registerImg:hover{
  cursor:grab;
  content: url("images/LeaderBoard\ \(13\).png");
}
#mainImage {
  transition: all 100s;
  height: 140px;
  width: 101.14px;
  align-self: center;
  transform: translateX(-20px);
}
#navBar {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  z-index: 100;
  top: 0;
}
iframe {
  border-radius: 50px;
  border-color: transparent;
}
#leaderboard img {
  transition: all 2s;
  transform: translateY(-100px);
  width: 200px;
  height: 30px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
  content: url("images/LeaderBoard\ \(7\).png");
}
#leaderboard img:hover {
  cursor: grab;
  content: url("images/LeaderBoard\ \(8\).png");
}
#register,
#leaderboard {
  align-items: center;
}
#hello {
  text-align: center;
}
#register img {
  height: 30px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 82px;
  background: url(images/LeaderBoard.svg);
  background-size: 100px 82px;
}
