#categories div h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}
body {
  overflow-x: clip;
  overflow-y: clip;
}
#categories {
  margin-top: 75px;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory;
}
#categories::-webkit-scrollbar {
  display: none;
}
#categories div {
  width: 200px;
  min-width: 200px;
  margin-right: 20px;
  margin-top: 60px;
  margin-bottom: 30px;
  scroll-snap-align: center;
}
#categories div button h1 {
  width: 200px;
  font-family: "Cardo", sans-serif;
}
#categories div button {
  border: 1px solid #1d1d16;
  border-radius: 100px;
  width: 200px;
  min-width: 200px;
  color: #e75100;
  background-color: #1d1d16; /*#54544c*/
  text-align: center;
}
#categories div button:hover {
  cursor: grab;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    /* #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000 */
      #e85100,
    #e75100,
    #e77b00,
    #e7a200,
    #e7a600,
    #c4e700,
    #e86800,
    #e78700,
    #e77000e8
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 100px;
}

.glow-on-hover:active {
  color: #1d1d16;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #1d1d16;
  left: 0;
  top: 0;
  border-radius: 100px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow-table {
  margin-left: 10%;
  width: 80%;
  height: 310px;
  border: none;
  outline: none;
  color: #fff;
  background: #e78700;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

/* /* .glow-table:before {
  content: "";
  background: linear-gradient(
    45deg,
    /* #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000 
      #e85100,
    #e75100,
    #e77b00,
    #e7a200,
    #e7a600,
    #c4e700,
    #e86800,
    #e78700,
    #e77000e8
  );
  position: absolute;
  top: -2px;
   left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px; }*/

.glow-table:active {
  color: #1d1d16;
}

.glow-table:before {
  opacity: 1;
}

.glow-table:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d1d16;
  left: 0;
  top: 0;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#arrow_left_img,
#arrow_right_img {
  content: url("../../images/arrow-right\ \(3\).png");
}
@media screen {
  #arrow_left_img:hover,
  #arrow_right_img:hover {
    content: url("../../images/arrow-right\ \(2\).png");
  }
}

#arrow_left {
  transform: rotate(180deg);
  position: fixed;
  z-index: 105;
  top: 139px;
}
#arrow_right {
  position: fixed;
  z-index: 105;
  right: 0;
  top: 139px;
}
/* .glow-table div div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */
.glow-table div div div {
  width: 200px;
}
#board {
  overflow-y: scroll;
}
#scorer {
  border: 1px solid red;
  border-radius: 100px;
  margin-bottom: 20px;
}
#genderBox {
  display: flex;
  width: 100%;
  align-items: center;
}
#gender {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow-on-hover {
  width: 220px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #1d1d16;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 100px;
}

.glow-on-hover:checked {
  content: "";
  background: linear-gradient(
    45deg,
    /* #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000 */
      #e85100,
    #e75100,
    #e77b00,
    #e7a200,
    #e7a600,
    #c4e700,
    #e86800,
    #e78700,
    #e77000e8
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 100px;
}

.glow-on-hover:active {
  color: #1d1d16;
}

.glow-on-hover:hover:before {
  opacity: 1;
} 

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d1d16;
  left: 0;
  top: 0;
  border-radius: 100px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow-select {
  width: 40%;
  height: 50px;
  border: none;
  outline: none;
  background: #1d1d16;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-select:focus {
  border: none;
  outline: none;
}

#gender {
  border-radius: 9px;
  height: 30px;
  text-align: center;
  background: #1d1d16;
  color: white;
  border: 1px solid #e75100;
  font-size: 28px;
  color: #e77b00;
  font-family: "Cardo", sans-serif;
}
#gender p {
  margin-bottom: 1000px;
}
#gender:focus {
  outline: none;
}

#genderBox {
  margin-left: 46%;
  margin-top: -20px;
}

#gender:active,
select:hover {
  outline: none;
}

#gender option {
  height: 220px;
}
.glow-select:before {
  width: 50%;
}
@media (max-width: 600px) {
  .glow-table {
    width: 100%;
    height: 310px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(29, 29, 22);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-top: -43px;
  }
  #genderBox {
    margin-left: 5%;
    margin-bottom: 50px;
  }
  .glow-select:before {
    width: 90%;
  }
  #gender {
    /* width: 90%;*/
    margin-left: 35%;
  }
}
#genderBox {
  display: flex;
  width: 100%;
  align-items: center;
}

#gender {
  display: flex;
  justify-content: center;
  align-items: center;
}

.glow-on-hover {
  width: 220px;
  height: 40px;
  border: none;
  outline: none;
  color: #fff;
  background: #1d1d16;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 100px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.glow-select:active {
  color: #1d1d16;
}

.glow-select:before {
  opacity: 1;
}

/* .glow-select:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background: #1d1d16;
  left: 0;
  top: 0;
  border-radius: 10px;
  display: flex;
} */

#gender:active,
select:hover {
  outline: none;
}

#gender option {
  height: 200px;
}
.glow-select:before {
  width: 50%;
}
@media (max-width: 600px) {
  .glow-table {
    margin-left: 2.5%;
    width: 95%;
    height: 310px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(29, 29, 22);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  #genderBox {
    margin-left: 5%;
    margin-bottom: 50px;
  }
  .glow-select:before {
    width: 90%;
  }
}
#board::-webkit-scrollbar {
  display: none;
}
#board {
  overflow-y: scroll;
  overflow-x: hidden;
}
#scorer {
  border: 1px solid blue;
  border-radius: 100px;
  margin-bottom: 20px;
}
#miniNav div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 92%;
  margin-top: -10px;
  text-align: center;
}
#miniNav {
  position: absolute;
  width: 100%;
  background-color: #1d1d16;
  z-index: 100;
  /* border-radius: 10px; */
  margin-top: -1px;
}
#gender p {
  font-size: 10px;
}
#leaders div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 92%;
  margin-left: 4%;
}
#leaders div div {
  width: 25%;
  text-align: center;
}
#space {
  height: 39px;
}
#gender {
  height: 30px;
  font-size: 18px;
}
.glow-leader {
  width: 80%;
  border: none;
  outline: none;
  color: #fff;
  background: #1d1d16;
  /* background: #e75100; */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-leader:before {
  content: "";
  background: linear-gradient(
    45deg,
    /* #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000 */
      #e85100,
    #e75100,
    #e77b00,
    #e7a200,
    #e7a600,
    #c4e700,
    #e86800,
    #e78700,
    #e77000e8
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-leader:active {
  color: #1d1d16;
}

.glow-leader:before {
  opacity: 1;
}

.glow-leader:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1d1d16;
  /* background: #e75100;  */
  left: 0;
  top: 0;
  border-radius: 10px;
}
.glow-leader p {
  /* color: #1d1d16; */
  font-family: "Cardo", sans-serif;
}
#rank {
  margin-left: -10px;
}
#direct {
  width: 94%;
  margin-left: 4%;
  margin-right: 4%;
  border-bottom: 1px solid #e75100;
}
#direct p{
  color: #e75100;
}
@media (min-width: 750px) {
  #direct {
    margin-right: 100px;
  }
}
